#query-field {
    position: fixed;
    z-index: 99999;
    top: 0;
}

#SelectionList {
    top: 40px;
    width: 100%;
    position: absolute;
}

input, textarea, button {
    border-radius: 0 !important;
}

.list-group-item {
    border-radius: 0  !important;
}

.list-group a p {
    font-size: 12px;
}

small {
    color: lightgray;
}

